### Manipulação de Arquivos - Parte 5
Este arquivo foi obtido no site de dados abertos do governo da cidade de Chicago, nos EUA:

https://data.cityofchicago.org/

In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('arquivos/salarios.csv')

In [45]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"GARCIA, CHRISTOPHER A",CLERK - BD OF ELECTIONS,BOARD OF ELECTION COMMISSIONERS,F,SALARY,NaN,34176.0,NaN
1,"ASHFORD, MARQUISHA D",INQUIRY AIDE III,OFFICE OF PUBLIC SAFETY ADMINISTRATION,F,SALARY,NaN,46056.0,NaN
2,"MATHIS, DESIREE",PERSONNEL ASSISTANT,OFFICE OF PUBLIC SAFETY ADMINISTRATION,F,SALARY,NaN,70608.0,NaN
3,"GRAY, DERYL R",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,20.0,NaN,25.0
4,"MACK, QIANA S",LEAVE OF ABSENCE ADMIN,OFFICE OF PUBLIC SAFETY ADMINISTRATION,F,SALARY,NaN,66684.0,NaN

**Dividindo o arquivo em colunas**

In [46]:
f = open('arquivos/salarios.csv', 'r')

In [47]:
data = f.read()

In [48]:
rows = data.split('\n')

In [49]:
full_data = []

In [50]:
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)

# print(full_data)

**Contando o número de linhas de um arquivo**

In [ ]:
count = 0
for row in full_data:
    count += 1

In [52]:
print(count)

32403

**Contando o número de colunas em um arquivo**

In [55]:
f = open('arquivos/salarios.csv', 'r')
data = f.read()
rows = data.split('\n')
full_data = []

In [56]:
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)
    first_row = full_data[0]
count = 0

In [57]:
for column in first_row:
    count += 1

In [58]:
print(count)

8

**Gravando arquivo pelo  Jupyter Notebook**

In [64]:
%%writefile arquivos/arquivo3.txt
Este arquivo foi gerado pelo Jupyter Notebook.
Podemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.

Overwriting arquivos/arquivo3.txt

In [65]:
arq3 = open('arquivos/arquivo3.txt', 'r')

In [66]:
arq3.read()

'Este arquivo foi gerado pelo Jupyter Notebook.\nPodemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.\n'

In [67]:
# final do arquivo e nao ha nada para ler
arq3.read()

''

In [70]:
# retornando ao inicio do arquivo
arq3.seek(0)

0

In [71]:
arq3.seek(0)
arq3.readlines()

['Este arquivo foi gerado pelo Jupyter Notebook.\n',
 'Podemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.\n']

In [73]:
# podemos usar um loop para ler o arquivo
for line in open('arquivos/arquivo3.txt'):
    print(line)

Este arquivo foi gerado pelo Jupyter Notebook.

Podemos gerar quantas linhas quisermos e o Jupyter grava no arquivo final.