# Função Map

**É uma função que aplica uma determinada função a cada elemento de uma estrutura de dados iterável (lista, tupla ou outro objeto iterável).
Essa função retorna um objeto que pode ser convertido em outra estrutura de dados, como uma lista, se necessário.**

In [73]:
# função python que retorna um número ao quadrado
def potencia(x):
    return x ** 2

In [74]:
numeros = [1, 2, 3, 4, 5]

In [75]:
numeros_ao_quadrado = list(map(potencia, numeros))

In [76]:
print(numeros_ao_quadrado)

[1, 4, 9, 16, 25]

In [77]:
# criando duas funçoes 

# funçao 1 - recebe uma temperatura como parametro e retorna a temperatura em Fahrenheit
def fahrenheit(T):
    return ((float(9) / 5) * T + 32)

# funçao 2 - recebe uma temperatura como parametro e retorna a temperatura em celsius
def celsius(T):
    return (float(5) / 9) * (T - 32)

In [78]:
# criando uma lista
temperaturas = [0, 22.5, 40, 100]

In [79]:
# aplicando a funçao a cada elemento da lista de temperaturas, em python 3 a função map() retorna um iterator
map(fahrenheit, temperaturas)

In [80]:
# funçao map() retornando a lista de temperaturas convertidas em fahrenheit
list(map(fahrenheit, temperaturas))

[32.0, 72.5, 104.0, 212.0]

In [81]:
# usando um loop for para imprimir o resultado da funçao map()
for temp in map(fahrenheit, temperaturas):
    print(temp)

32.0
72.5
104.0
212.0

In [82]:
# convertendo para celsius
map(celsius, temperaturas)

In [83]:
list(map(celsius, temperaturas))

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [84]:
# usando a expressao lambda
map(lambda x: (5.0/9) * (x - 32), temperaturas)

In [85]:
list(map(lambda x: (5.0/9) * (x - 32), temperaturas))

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [86]:
# somando os elementos de 2 listas
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

In [87]:
list(map(lambda x, y: x + y, a, b))

[6, 8, 10, 12]

In [88]:
# somando os elementos de 3 listas
a = [12, 2, 45, 63, 23]
b = [24, 1, 7, 25, 6]
c = [15, 14, 39, 35, 0]

In [89]:
list(map(lambda x, y, z : x + y + z, a, b, c))

[51, 17, 91, 123, 29]

# Função reduce

**É uma função da biblioteca functools que aplica uma determinada função binária a pares consecutivos de elementos em uma estrutura de dados iterável (como uma lista, tupla ou outro objeto iterável), reduzindo-a a um único valor.**

In [90]:
# importando a função reduce
from functools import reduce

In [91]:
from IPython.display import Image
# Image('arquivos/reduce.png')

In [92]:
# criando uma lista
lista = [47, 11, 42, 13]

In [93]:
lista

[47, 11, 42, 13]

In [94]:
# função de soma
def soma(a, b):
    x = a + b
    return x

In [95]:
# usando reduce com uma função e uma lista, a função vai retornar o valor máximo
reduce(soma, lista)

113

In [96]:
# criando uma lista 
lst = [47, 11, 42, 13]

In [97]:
reduce(lambda x, y: x + y, lst)

113

In [98]:
# podemos atribuir a expressão lambda a uma variavel
max_find2 = lambda a, b: a if (a > b) else b

In [99]:
type(max_find2)

function

In [100]:
# reduzindo a lista até o valor maximo, atraves da função criada com a expressão lamba
reduce(max_find2, lst)

47

# Função filter

**É uma função que filtra elementos de uma estrutura de dados iterável (como uma lista, tupla ou outro objeto iterável) com base em uma determinada condição. A função filter() retorna um objeto filtro, que pode ser convertido em outra estrutura de dados, como uma lista, se necessário.**

In [101]:
# criando uma função
def verificaPar(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [102]:
# chaamdno a funcao e passando um numero como parametro
verificaPar(2)

True

In [103]:
verificaPar(3)

False

In [104]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
list(filter(verificaPar, lista))

[0, 2, 4, 6, 8, 10]

In [106]:
# caso nao queira utilizar a função
list(filter(lambda x: x % 2 == 0, lista))

[0, 2, 4, 6, 8, 10]

In [107]:
# verificando quais o numeros maiores que 8 na lista, utilizadno o lambda
list(filter(lambda num: num > 8, lista))

[9, 10]

# Função Zip

**É uma função que agrupa elementos de múltiplas estruturas de dados iteráveis (como lista, tuplas ou outros objetos iteráveis) juntos em pares. A função zip() retorna um objeto zip, que pode ser convertido em outra estrutura de dados, como uma lista ou dicionário, se necessário.**

In [108]:
# criando duas listas
x = [1, 2, 3]
y = [4, 5, 6]

In [109]:
# unindo as listas 
zip(x, y)

In [110]:
# o zip retorna tuplas, neste caso uma lista de tuplas
list(zip(x, y))

[(1, 4), (2, 5), (3, 6)]

In [111]:
# atencao quando as sequencias tiverem numero diferente de elementos
list(zip('ABCD', 'xy'))

[('A', 'x'), ('B', 'y')]

In [112]:
# criando duas listas
a = [1, 2, 3]
b = [4, 5, 6, 7, 8]

In [113]:
list(zip(a, b))

[(1, 4), (2, 5), (3, 6)]

In [114]:
# criando 2 dicionarios
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

In [118]:
# zip vai unir as chaves
list(zip(d1, d2))

[('a', 'c'), ('b', 'd')]

In [119]:
# para unir os valores(itens), passamos o método values
list(zip(d1, d2.values()))

[('a', 3), ('b', 4)]

In [122]:
# criando uma função para trocar valores entre 2 dicionarios 
def trocaValores(d1, d2):

    dictTemp = {}

    for d1key, d2val in zip(d1, d2.values()):
        dictTemp[d1key] = d2val

    return dictTemp

In [123]:
trocaValores(d1, d2)

{'a': 3, 'b': 4}

# Função enumerate

**É uma função que permite iterar sobre uma estrutura de dados (como uma lista, tupla ou outro objeto iterável). A função enumerate() retorna um objeto enumerado, que pode ser usado em loops para percorrer a estrutura de dados e acessar o contador e o valor de cada elemento.**

In [125]:
# criando uma lista 
seq = ['a', 'b', 'c', 'd']

In [127]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [129]:
# imprimindo os valores de uma lista com a função enumerate() e seus respectivos indices
for indice, valor in enumerate(seq):
    print(indice, valor)

0 a
1 b
2 c
3 d

In [130]:
for indice, valor in enumerate(seq):
    if indice >= 2:
        break
    else:
        print(valor)

a
b

In [131]:
lista = ['Marketing', 'Tecnologia', 'Business']

In [132]:
for i, item in enumerate(lista):
    print(i, item)

0 Marketing
1 Tecnologia
2 Business

In [133]:
for i, item in enumerate('Data Science Academy'):
    print(i, item)

0 D
1 a
2 t
3 a
4
5 S
6 c
7 i
8 e
9 n
10 c
11 e
12
13 A
14 c
15 a
16 d
17 e
18 m
19 y

In [134]:
for i, item in enumerate(range(10)):
    print(i, item)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9